#ifndef googlesql_bridge_h
#define googlesql_bridge_h

#ifdef __cplusplus
extern "C" {
#endif /* __cplusplus */

#include <stdint.h>

{{- range . }}
#undef GO_EXPORT
#define GO_EXPORT(API) export_{{ .FQDN }}_ ## API
#include "{{ .Include }}"
{{- end }}

#ifdef __cplusplus
}
#endif /* __cplusplus */

#endif /* googlesql_bridge_h */
